:root {
  --title-color--: #212121;
  --second-title-color--: #ffffff;
  --acent-color--: #2196f3;
  --primary-bg-color--: #e5e5e5;
  --text-color--: #757575;
  --second-bg-color--: #2f303a;
  --bg-color--: #f5f4fa;
  --bg-secont-bottom--: #f5f4fa;
}
body {
  font-family: "roboto", "raleway", sans-serif;
}
.logo {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  color: var(--tittle-color--);
  text-decoration: none;
}
.logo .weblogo {
  color: var(--acent-color--);
}

/*----------site nav------------*/
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
.header-navigation {
  background-color: var(--second-title-color--);
}
.header-link {
  font-family: Roboto;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-color--);
}

.header-link:hover,
.header-link:focus {
  color: var(--acent-color--);
}

.header-mail {
  font-family: Roboto;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--acent-color-);
}
/*--------------HERO----------------*/
.hero {
  background-color: var(--second-bg-color--);
}
.hero-title {
  text-align: center;
  color: var(--second-title-color--);
}
.section-btn {
  font-family: Roboto;

  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  color: #ffffff;
  background: var(--acent-color--);
  border: none;
}
/*------------FEATURS-------------------*/
.featurs {
  background: var(--second-title-color--);
}
.featurs-title {
  font-family: Roboto;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-color--);
}
.featurs-text {
  font-family: Roboto;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: var(--text-color--);
}
/*-------------WORK---------------*/
.title {
  font-family: Roboto;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--title-color--);
}
/*--------------COMAND----------------*/
.comand {
  background: var(--bg-color--);
}
.comand-member {
  font-family: Roboto;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--title-color--);
}
.comand-speciality {
  font-family: Roboto;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-color--);
}
.comand-item {
  background: var(--second-title-color--);

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
/*---------------FOOTER----------*/
.footer {
  background-color: var(--second-bg-color--);
}
.address-text {
  font-family: Roboto;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: var(--second-title-color--);
}
.footer-conacts {
  font-family: Roboto;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
/*--------------POTFOLIO---------*/
/*Bottoms*/
.button-list {
  font-family: Roboto;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  color: var(--title-color--);
  background: var(--bg-secont-bottom--);
  border: none;
}
.button-list:active {
  background: var(--acent-color--);
}

/*prijects*/
.project {
}
.project-title {
  font-family: Roboto;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-color--);
}
.project-text {
  font-family: Roboto;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;

  color: var(--text-color--);
}
